body {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #eee;
}

.form-signin {
  max-width: 500px;
  margin: 0 auto;
}

.form-horizontal {
  padding-top: 10px;
}

.panel-footer {
  color: white;
  background-color: #752844;
}